@font-face {
    font-family: 'MinionPro';
    src: url('../fonts/MinionProRegular.eot');
    src: url('../fonts/MinionProRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MinionProRegular.woff') format('woff'),
         url('../fonts/MinionProRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body.mce-content-body {
    font-family: MinionPro, serif;
    font-size:12px;
    color:#414042;
    line-height:1.5;
}
body.mce-content-body img:not(.mce-pagebreak) {
	display: block;
	max-width: 100%;
	height: auto;
}

p {
	margin:0 0 1em 0;
}

table, tbody, td, th {
	vertical-align:top;
    font-family: inherit;
    font-size: inherit;
    line-height:inherit;
}


hr {
	height:0;
	margin:0 0 1em 0;
	border-top:0 none;
	border-bottom:1px solid #cfc7af;
}